body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


#chat{
    width : 200px;
    height: 200px; /* in this case #chat should be 150px + height of input area */
    border: 1px solid black;
    overflow-x: hidden;

    display:flex;
    flex-direction:column;
    word-wrap:break-word;
}
